<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ATA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    
    <!--LOCAL-->
    <add name="ATA_ConnectionString" connectionString="Data Source=PTINPM0210\SQLEXPRESS;Initial Catalog=ATA;Persist Security Info=True;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ATA.Properties.Settings.ATA_ConnectionString" connectionString="Data Source=PTINPM0210\SQLEXPRESS;Initial Catalog=ATA;Persist Security Info=True;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--FINE LOCAL-->
    
    <!--NEW RELEASE BETA on server ovh-->
    <!--<add name="ATA_ConnectionString" connectionString="Data Source=57.128.85.98,1433\SQLEXPRESS; Initial Catalog=ATABETA;Persist Security Info=True;User ID=atabeta;Password=Polimatica01" providerName="System.Data.SqlClient" />
    <add name="ATA.Properties.Settings.ATA_ConnectionString" connectionString="Data Source=57.128.85.98,1433\SQLEXPRESS; Initial Catalog=ATABETA;Persist Security Info=True;User ID=atabeta;Password=Polimatica01" providerName="System.Data.SqlClient" />-->
    <!--NEW RELEASE BETA on server ovh-->

    <!--NEW RELEASE PRODUZIONE on server ovh-->
    <!--<add name="ATA_ConnectionString" connectionString="Data Source=57.128.85.98,1433\SQLEXPRESS; Initial Catalog=ATA;Persist Security Info=True;User ID=ata;Password=Polimatica01" providerName="System.Data.SqlClient" />
    <add name="ATA.Properties.Settings.ATA_ConnectionString" connectionString="Data Source=57.128.85.98,1433\SQLEXPRESS; Initial Catalog=ATA;Persist Security Info=True;User ID=ata;Password=Polimatica01" providerName="System.Data.SqlClient" />-->
    <!--NEW RELEASE BETA on server ovh-->
    
    
    <!--OLD___________________NEW RELEASE BETA-->
    <!--<add name="ATA_ConnectionString" connectionString="Data Source=10.39.254.13\SQLEXPRESSATA;Initial Catalog=ATABETA;Persist Security Info=True;User ID=sa1;Password=Polimatica01" providerName="System.Data.SqlClient" />
        <add name="ATA.Properties.Settings.ATA_ConnectionString" connectionString="Data Source=10.39.254.13\SQLEXPRESSATA;Initial Catalog=ATABETA;Persist Security Info=True;User ID=sa1;Password=Polimatica01"
                providerName="System.Data.SqlClient" />-->
    <!--FINE NEW RELEASE-->
    <!--OLD___________________NEW RELEASE PROD-->
    <!--<add name="ATA_ConnectionString" connectionString="Data Source=10.39.254.13\SQLEXPRESSATA;Initial Catalog=ATA;Persist Security Info=True;User ID=sa1;Password=Polimatica01" providerName="System.Data.SqlClient" />
        <add name="ATA.Properties.Settings.ATA_ConnectionString" connectionString="Data Source=10.39.254.13\SQLEXPRESSATA;Initial Catalog=ATA;Persist Security Info=True;User ID=sa1;Password=Polimatica01"
                providerName="System.Data.SqlClient" />-->
    <!--FINE NEW RELEASE-->
    <!--OLD RELEASE-->
    <!--<add name="ATA_ConnectionString" connectionString="Data Source=.\MSSQLSERVER2017;Initial Catalog=ATA;Persist Security Info=True;User ID=sa;Password=Polimatica02" providerName="System.Data.SqlClient" />
		    <add name="ATA.Properties.Settings.ATA_ConnectionString" connectionString="Data Source=.\MSSQLSERVER2017;Initial Catalog=ATA_ServerDatabase;Persist Security Info=True;User ID=sa;Password=Polimatica02" providerName="System.Data.SqlClient" />-->
    <!--<add name="ATA_ConnectionString" connectionString="Data Source=172.17.0.24;Initial Catalog=ATABETA;Persist Security Info=True;User ID=sa;Password=Polimatica01" providerName="System.Data.SqlClient" />
            <add name="ATA.Properties.Settings.ATA_ConnectionString" connectionString="Data Source=172.17.0.24;Initial Catalog=ATABETA;Persist Security Info=True;User ID=sa;Password=Polimatica01" providerName="System.Data.SqlClient" />-->
    <!--FINE OLD RELEASE-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <ATA.Properties.Settings>
      <setting name="TotalLapsEndurance" serializeAs="String">
        <value>26</value>
      </setting>
      <setting name="LapLenghtEndurance" serializeAs="String">
        <value>0.792</value>
      </setting>
      <setting name="ConsumptionMaxEndurance" serializeAs="String">
        <value>60.06</value>
      </setting>
      <setting name="TemplatesXLSDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LogExceptions" serializeAs="String">
        <value>True</value>
      </setting>
    </ATA.Properties.Settings>
  </applicationSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644">
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>
</configuration>