<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ATA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
	  <!--LOCAL 2024-->
	    <!--<add name="ATA_ConnectionString" connectionString="Data Source=FABIODITELLA;Initial Catalog=ATABETA;Persist Security Info=True;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="ATA.Properties.Settings.ATA_ConnectionString" connectionString="Data Source=FABIODITELLA;Initial Catalog=ATABETA;Persist Security Info=True;Integrated Security=True" providerName="System.Data.SqlClient" />-->
	  <!--FINE LOCAL 2024-->
	  
	  <!--Server TEST interno ATABETA-->
	    <!--<add name="ATA_ConnectionString" connectionString="Data Source=192.168.100.53,1433\SQLEXPRESS;Initial Catalog=ATABETA;Persist Security Info=True;User ID=atabeta;Password=Polimatica01" providerName="System.Data.SqlClient" />
	    <add name="ATA.Properties.Settings.ATA_ConnectionString" connectionString="Data Source=192.168.100.53,1433\SQLEXPRESS;Initial Catalog=ATABETA;Persist Security Info=True;User ID=atabeta;Password=Polimatica01" providerName="System.Data.SqlClient" />-->
	  <!--FINE Server TEST interno ATABETA-->
	  
	  <!--Server TEST interno ATA  PRODUZIONE-->
	     <!--<add name="ATA_ConnectionString" connectionString="Data Source=192.168.100.53,1433\SQLEXPRESS;Initial Catalog=ATA;Persist Security Info=True;User ID=ata;Password=Polimatica01" providerName="System.Data.SqlClient" />
	     <add name="ATA.Properties.Settings.ATA_ConnectionString" connectionString="Data Source=192.168.100.53,1433\SQLEXPRESS;Initial Catalog=ATA;Persist Security Info=True;User ID=ata;Password=Polimatica01" providerName="System.Data.SqlClient" />-->
	  <!--FINE Server TEST interno ATA-->

	  <!--NEW RELEASE BETA on server ARUBA-->
	  <!--<add name="ATA_ConnectionString" connectionString="Data Source=195.231.75.29,1433\SQLEXPRESS; Initial Catalog=ATABETA;Persist Security Info=True;User ID=atabeta;Password=Training4u" providerName="System.Data.SqlClient" />
      <add name="ATA.Properties.Settings.ATA_ConnectionString" connectionString="Data Source=5195.231.75.29,1433\SQLEXPRESS; Initial Catalog=ATABETA;Persist Security Info=True;User ID=atabeta;Password=Training4u" providerName="System.Data.SqlClient" />-->
	  <!--NEW RELEASE BETA on server ovh-->

	  <!--NEW RELEASE PRODUZIONE on server Aruba-->
	  <!--<add name="ATA_ConnectionString" connectionString="Data Source=57.128.85.98,1433\SQLEXPRESS; Initial Catalog=ATA;Persist Security Info=True;User ID=ata;Password=Polimatica01" providerName="System.Data.SqlClient" />
    <add name="ATA.Properties.Settings.ATA_ConnectionString" connectionString="Data Source=57.128.85.98,1433\SQLEXPRESS; Initial Catalog=ATA;Persist Security Info=True;User ID=ata;Password=Polimatica01" providerName="System.Data.SqlClient" />-->
	  <!--NEW RELEASE BETA on server ovh-->

	  <!--LOCAL ERROR PROD 2024-->
	  <add name="ATA_ConnectionString" connectionString="Data Source=FABIODITELLA;Initial Catalog=ATA_ERROR;Persist Security Info=True;Integrated Security=True" providerName="System.Data.SqlClient" />
	  <add name="ATA.Properties.Settings.ATA_ConnectionString" connectionString="Data Source=FABIODITELLA;Initial Catalog=ATA_ERROR;Persist Security Info=True;Integrated Security=True" providerName="System.Data.SqlClient" />
	  <!--FINE LOCAL 2024-->
	  
	  
	  
	  <!--LOCAL old-->
    <!--add name="ATA_ConnectionString" connectionString="Data Source=PTINPM0210\SQLEXPRESS;Initial Catalog=ATA;Persist Security Info=True;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ATA.Properties.Settings.ATA_ConnectionString" connectionString="Data Source=PTINPM0210\SQLEXPRESS;Initial Catalog=ATA;Persist Security Info=True;Integrated Security=True" providerName="System.Data.SqlClient"/-->
    <!--FINE LOCAL-->
    
	<!--NEW RELEASE BETA on server ovh-->
    <!--<add name="ATA_ConnectionString" connectionString="Data Source=57.128.85.98,1433\SQLEXPRESS; Initial Catalog=ATABETA;Persist Security Info=True;User ID=atabeta;Password=Polimatica01" providerName="System.Data.SqlClient" />
    <add name="ATA.Properties.Settings.ATA_ConnectionString" connectionString="Data Source=57.128.85.98,1433\SQLEXPRESS; Initial Catalog=ATABETA;Persist Security Info=True;User ID=atabeta;Password=Polimatica01" providerName="System.Data.SqlClient" />-->
    <!--NEW RELEASE BETA on server ovh-->
	  
    <!--NEW RELEASE PRODUZIONE on server ovh-->
    <!--<add name="ATA_ConnectionString" connectionString="Data Source=57.128.85.98,1433\SQLEXPRESS; Initial Catalog=ATA;Persist Security Info=True;User ID=ata;Password=Polimatica01" providerName="System.Data.SqlClient" />
    <add name="ATA.Properties.Settings.ATA_ConnectionString" connectionString="Data Source=57.128.85.98,1433\SQLEXPRESS; Initial Catalog=ATA;Persist Security Info=True;User ID=ata;Password=Polimatica01" providerName="System.Data.SqlClient" />-->
    <!--NEW RELEASE BETA on server ovh-->
	  
	  
	  
    <!--OLD___________________NEW RELEASE BETA-->
            <!--<add name="ATA_ConnectionString" connectionString="Data Source=10.39.254.13\SQLEXPRESSATA;Initial Catalog=ATABETA;Persist Security Info=True;User ID=sa1;Password=Polimatica01" providerName="System.Data.SqlClient" />
                <add name="ATA.Properties.Settings.ATA_ConnectionString" connectionString="Data Source=10.39.254.13\SQLEXPRESSATA;Initial Catalog=ATABETA;Persist Security Info=True;User ID=sa1;Password=Polimatica01"
                        providerName="System.Data.SqlClient" />-->
    <!--FINE NEW RELEASE-->
	  
    <!--OLD___________________NEW RELEASE PROD-->
            <!--<add name="ATA_ConnectionString" connectionString="Data Source=10.39.254.13\SQLEXPRESSATA;Initial Catalog=ATA;Persist Security Info=True;User ID=sa1;Password=Polimatica01" providerName="System.Data.SqlClient" />
                <add name="ATA.Properties.Settings.ATA_ConnectionString" connectionString="Data Source=10.39.254.13\SQLEXPRESSATA;Initial Catalog=ATA;Persist Security Info=True;User ID=sa1;Password=Polimatica01"
                        providerName="System.Data.SqlClient" />-->
    <!--FINE NEW RELEASE-->
	  
    <!--OLD RELEASE-->
            <!--<add name="ATA_ConnectionString" connectionString="Data Source=.\MSSQLSERVER2017;Initial Catalog=ATA;Persist Security Info=True;User ID=sa;Password=Polimatica02" providerName="System.Data.SqlClient" />
                <add name="ATA.Properties.Settings.ATA_ConnectionString" connectionString="Data Source=.\MSSQLSERVER2017;Initial Catalog=ATA_ServerDatabase;Persist Security Info=True;User ID=sa;Password=Polimatica02" providerName="System.Data.SqlClient" />-->
            <!--<add name="ATA_ConnectionString" connectionString="Data Source=172.17.0.24;Initial Catalog=ATABETA;Persist Security Info=True;User ID=sa;Password=Polimatica01" providerName="System.Data.SqlClient" />
                    <add name="ATA.Properties.Settings.ATA_ConnectionString" connectionString="Data Source=172.17.0.24;Initial Catalog=ATABETA;Persist Security Info=True;User ID=sa;Password=Polimatica01" providerName="System.Data.SqlClient" />-->
    <!--FINE OLD RELEASE-->
	  
  </connectionStrings>
  <!--
    Per una descrizione delle modifiche al file web.config, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

    Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <ATA.Properties.Settings>
      <setting name="TotalLapsEndurance" serializeAs="String">
        <value>26</value>
      </setting>
      <setting name="LapLenghtEndurance" serializeAs="String">
        <value>0.792</value>
      </setting>
      <setting name="ConsumptionMaxEndurance" serializeAs="String">
        <value>60.06</value>
      </setting>
      <setting name="TemplatesXLSDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LogExceptions" serializeAs="String">
        <value>True</value>
      </setting>
    </ATA.Properties.Settings>
  </applicationSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>